<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ostara.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ostara.Properties.Settings>
            <setting name="Autoload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoloadFile" serializeAs="String">
                <value>data.austra</value>
            </setting>
            <setting name="ShowCompileTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowExecutionTime" serializeAs="String">
                <value>True</value>
            </setting>
        </Ostara.Properties.Settings>
    </userSettings>
</configuration>